body {
    background-color: darkolivegreen;
}


.titleContainer {
    background-color: rgb(119, 151, 64);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.navBar {
    background-color: rgb(119, 151, 64);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    margin: 7px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.searchContainer {
    background-color: rgb(119, 151, 64);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 0.1px;
    position: relative;
    right: 0;
    width: 300px;
    height: 25px;
    text-align: center;
}


.gamesContainer1 {
    background-color: rgb(119, 151, 64);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: absolute; 
    left: 0;
    top: 140px;
    bottom: 0;
    width: 150px;
}

.gamesContainer2 {
    background-color: rgb(119, 151, 64);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 140px;
    bottom: 0;
    width: 150px;
}

